.my-table {
    border: 1px solid #0077be;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 100%;
}

.my-table th {
    background-color: #0077be;
    color: #fff;
    border: 1px solid #0077be;
    padding: 8px;
    text-align: left;
}

.my-table td {
    border: 1px solid #0077be;
    padding: 8px;
}
